.container{
    margin-top: 1em;
}


#foto{
    border-radius: 50%;
}

#Atendimentos{
    margin-top: 3em;
}

.nav-link.active {
    font-weight: bold;
    color: #007bff;
  }
  
  .button-container .btn {
    width: 7em;
  }


  .floating-save-button {
    position: relative;
    margin: 10px;
    z-index: 1000;
  }