<app-wait-icon *ngIf="loading"></app-wait-icon>

<div class="container mt-3">
  <div class="row">
    <div class="col-12 text-center">
      <h3>Ficha do Paciente</h3>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link" [routerLink]="['formulario']" routerLinkActive="active" aria-current="page">Informações Básicas</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" [routerLink]="['atendimentos']" routerLinkActive="active">Atendimentos</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" [routerLink]="['midias']" routerLinkActive="active">Mídias</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="tab-content mt-3">
    <router-outlet></router-outlet>
  </div>

  <div class="button-container mt-3 ms-2">
    <button type="button" class="btn btn-success btn-lg me-3" (click)="salvarPaciente()">SALVAR</button>
    <button type="button" class="btn btn-secondary btn-lg" (click)="cancelar()">CANCELAR</button>
  </div>


  <!-- Modal para Mensagens -->
<button type="button" style="visibility: hidden;" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAlerta" id="btnModalAlerta">
  Launch demo modal
</button>

<div class="modal fade" id="modalAlerta" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Mensagem</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ msgModal }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>