<app-wait-icon *ngIf="loading"></app-wait-icon>
<div class="container mt-3">
    <div class="row">
        <div class="col-12 text-center">
            <h3>Gerenciamento Pacientes</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Nome do Paciente" aria-label="Nome do Paciente" aria-describedby="button-addon2" [(ngModel)]="keyword">
                <button class="btn btn-primary" type="button" id="button-addon2" (click)="pesquisar()">Pesquisar</button>
              </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-12">
          <table class="table">
            <thead>
              <tr>
                <th scope="col-2">ID</th>
                <th scope="col-4">Nome</th>
                <th scope="col-2" class="text-center">Data de Nascimento</th>
                <th scope="col-2" class="text-center">Telefone</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let paciente of lista" (click)="verDetalhes(paciente.idPaciente)" class="clickable-row">
                    <td class="col-1">{{ paciente.idPaciente }}</td>
                    <td class="col-4">{{ paciente.nomePaciente }}</td>
                    <td class="col-2 text-center">{{ paciente.dataNascimento }}</td>
                    <td class="col-2 text-center">{{ paciente.telefonePaciente }}</td>
                  </tr>
            </tbody>
          </table>
        </div>
      </div>


    <div class="row">
        <div class="col-12 text-center">
            <button class="btn btn-secondary m-2" (click)="paginaAnterior()" [disabled]="pagina === 0">Anterior</button>
            <button class="btn btn-secondary m-2" (click)="proximaPagina()" [disabled]="!temMaisPaginas">Próxima</button>
        </div>
    </div>
    
</div>

<a [routerLink]="['/paciente', 'NOVO']"><button id="adicionar"><i class="inbtn fa-solid fa-plus"></i></button></a>