<app-wait-icon *ngIf="loading"></app-wait-icon>
<div class="container mt-3">
    <div class="row">
        <div class="col-12 text-center">
            <h3>Gerenciamento Pacientes</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Nome do Paciente" aria-label="Nome do Paciente" aria-describedby="button-addon2" [(ngModel)]="keyword">
                <button class="btn btn-primary" type="button" id="button-addon2" (click)="pesquisar()">Pesquisar</button>
              </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-12">
            <ul *ngIf="!loading && lista.length > 0">
                <li *ngFor="let paciente of lista">
                  <a [routerLink]="['/paciente', paciente.idPaciente]">{{paciente.nomePaciente}}</a>
                </li>
              </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <button class="btn btn-secondary" (click)="paginaAnterior()" [disabled]="pagina === 0">Anterior</button>
            <button class="btn btn-secondary" (click)="proximaPagina()" [disabled]="!temMaisPaginas">Próxima</button>
        </div>
    </div>
    
</div>

<a [routerLink]="['/paciente', 'NOVO']"><button id="adicionar"><i class="inbtn fa-solid fa-plus"></i></button></a>