<app-paciente></app-paciente>
<div class="container">
    <!-- <div class="row">
        <div class="col-12">
            <ul *ngIf="!loading && lista.length > 0">
                <li *ngFor="let paciente of lista">
                    <div class="card">
                        <h5 class="card-header">{{atendimento.dataAtendimento}}</h5>
                        <div class="card-body">
                          <p class="card-text">{{atendimento.infoAtendimento}}</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
                </li>
              </ul>
        </div>
    </div> -->
</div>