<app-wait-icon *ngIf="loading"></app-wait-icon>
<div class="container">
      <!-- informações basicas do paciente -->
  <section id="infoBasica">
    <h4>Informações Básicas</h4>
    <div class="row">
      <div class="col-8">
        <div class="row">
          <div class="col-8">
            <label class="form-label" for="txtNome">Nome do Paciente</label>
            <input type="text" class="form-control" id="txtNome" [(ngModel)]="paciente.nomePaciente">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label  class="form-label" for="txtCpf">CPF</label>
            <input type="text" class="form-control" id="txtCpf" [(ngModel)]="paciente.cpfPaciente">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label  class="form-label" for="txtCpf">Sexo</label>
            <select id="txtSexo" class="form-control">
              <option value="M">Masculino</option>
              <option value="F">Feminino</option>
              <option value="X">Prefiro não informar</option>
            </select>
          </div>
          <div class="col-md-4">
            <label  class="form-label" for="dateNascimento">Data Nascimento</label>
            <input type="date" class="form-control" id="dataNascimento" [(ngModel)]="paciente.dataNascimento">
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <label  class="form-label" for="txtEmail">E-mail</label>
            <input type="text" class="form-control" id="txtEmail" [(ngModel)]="paciente.emailPaciente">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label  class="form-label" for="txtTelefone">Telefone</label>
            <input type="text" class="form-control" id="txtTelefone" [(ngModel)]="paciente.telefonePaciente">
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <label  class="form-label" for="txtEndereco">Endereco</label>
            <input type="text" class="form-control" id="txtEndereco" [(ngModel)]="paciente.endereco.logradouro">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label  class="form-label" for="txtEndereco">Complemento</label>
            <input type="text" class="form-control" id="txtComplemento" [(ngModel)]="paciente.endereco.complemento">
          </div>
          <div class="col-md-4">
            <label  class="form-label" for="txtCep">CEP</label>
            <input type="text" class="form-control" id="txtCep" (keyup.enter)="buscarCEP()" [(ngModel)]="paciente.endereco.cep">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label  class="form-label" for="txtEndereco">Cidade</label>
            <input type="text" class="form-control" id="txtCidade" [(ngModel)]="paciente.endereco.cidade.nomeCidade">
          </div>
          <div class="col-md-4">
            <label  class="form-label" for="txtCep">Estado</label>
            <input type="text" class="form-control" id="txtEstado" [(ngModel)]="paciente.endereco.cidade.estado.siglaEstado">
          </div>
        </div>
      </div>
      <div class="col-4 text-center">
        <img id="foto" [src]="paciente.linkFoto" width="90%">
        <button class="btn btn-success" (click)="chamarUpload('profile')">Enviar Foto</button>
      </div>
    </div>
  </section>

  <div class="button-container mt-3">
    <button type="button" class="btn btn-success btn-lg" (click)="salvarPaciente()">SAVE</button>
    <button type="button" class="btn btn-secondary btn-lg" (click)="cancelar()">CANCEL</button>
  </div>
</div>


<!-- Modal para Uploads -->

 <!-- Button trigger modal -->
 <button type="button" style="visibility: hidden;" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalUpload" id="btnModalUpload">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="modalUpload" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Selecione a foto do Paciente</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="file" id="fileName" class="form-control" (change)="realizarUpload($event)">
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-success" data-bs-dismiss="modal">Upload</button> -->
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal para Mensagens -->

 <!-- Button trigger modal -->
<button type="button" style="visibility: hidden;" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAlerta" id="btnModalAlerta">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="modalAlerta" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Mensagem</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ msgModal }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>